<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta name='keywords' content='{{header.keywords}}'>
<meta name='language' content='{{header.language}}'>
<meta name='robots' content='{{header.robots}}'>
<meta name='copyright' content='{{header.copywright}}'>
<meta name='description' content='{{header.describtion}}'>
<link rel="stylesheet" href="/css/style.css" />
<title>{{header.title}}</title>
</head>
<body>

