<div style="float:left">
            <h2>URL: "{{link}}" </h2>
            <div>Text: {{text}}</div>
            <div>Text: {{title}}</div>
            <div>Theme: {{theme}}</div>
            <div>Author: {{author}}</div>
             <form action="/admin/remove/{{_id}}" method="post">
            <div>
                <input type="submit" value="Remove"/>
            </div>
        </form>
        </div>